@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <h4>Audit Projesi</h4>
    <p>AuditL projesi, güvenlik ve izlenebilirlik için veritabanı işlemlerini takip eder ve kaydeder.</p>
    <p>Daha fazla bilgi için diğer sayfalarda projenin ayrıntılarına göz atın.</p>
</div>
